.header-principal {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-secondary);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
}

.sensor {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: var(--color-white);
}

.wars {
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: var(--color-main);
  -webkit-text-stroke: 1.2px var(--color-white);
}

.status-alert {
  width: 100px;
  height: 100px;
}

.img-alert {
  width: 100px;
  height: 100px;
}

.runGame {
  height: max-content;
}