.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 150px 14px 0 14px;
}

.container-chart {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
}

app-register-aler {
  width: 40%;
}
